/* valores iniciales de todo*/

* {
    padding: 0;
    margin: 0;
}

/* Imagen de fondo (afecta toda la pagina)*/

body{
    background-image:url("https://img.freepik.com/foto-gratis/fondo-azul-degradado-lujo-abstracto-azul-oscuro-liso-banner-estudio-vineta-negra_1258-54047.jpg?w=1380&t=st=1665004528~exp=1665005128~hmac=875b987a41b716d9cab6aed1bf7dc8f497604dc095a80f7cd49a1ed3dad00fc2");
    background-size: cover;
}


/*menu de navegacion*/

.ul-flex-row{  /*nav en flexbox fila*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 30px;
}

li {
    list-style: none;
}

.ul-flex-row > li { 
    margin-right: 80px;
    color: white;
}

#li-login {
    margin-right: 570px;
}

li > ul > li {
    text-align: center;
    padding-top: 5px;
}

a{
    text-decoration: none;
    color: white;
}



/*main*/


.main-div { /*Contenedor principal en grid (divide el main en: lista de ejercicios - ejercicio seleccionado )*/
    display: grid;
    grid-template-columns: 50% 50%;
}


/* Lado del formulario en main*/


.form-div, form { /* div y formulario que ocupa la primera columna (50%) del grid*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    grid-column: 1/2;
}

label, input, select { /*globales de ancho y alto*/
    width: 500px;
    height: 30px;
}

label {
    padding-top: 10px; 
    font-size: 20px;
}

#submit { /*boton de submit*/
    background-color: aquamarine;
}

textarea { /*area del mensaje*/
    margin-bottom: 10px;
    width: 500px;
    height: 300px;
}




/* Lado de la info  en main*/


.text-info-div{ /* div que ocupa la segunda columna (50%) del grid*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 40px;
    grid-column: 2/3;
}

.grid-text-info { /*div que separa texto de como usar el formulario / datos del usuario respecto del correo ingresado  */
    display: grid;
    grid-template-rows: 250px 250px;
}

.text-div {
    margin-top: 50px;
    grid-row: 1/2;
}

.text-div > ul > li {
    padding-top: 30px;
    font-size: 25px;
    list-style: square;
}


/*muestra de datos dependiendo del correo en main*/


.user-info {
    grid-row: 2/3;
}

.user-info > ul > li {
    padding-top: 15px;
    font-size: 30px;
}



/*footer*/


.footer-ul {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom:50px ;
}

.footer-ul > li {
    margin-right: 80px;
}
