/* valores iniciales de todo*/

* {
    padding: 0;
    margin: 0;
}

/* Imagen de fondo (afecta toda la pagina)*/

body{
    background-image:url("https://img.freepik.com/foto-gratis/fondo-azul-degradado-lujo-abstracto-azul-oscuro-liso-banner-estudio-vineta-negra_1258-54047.jpg?w=1380&t=st=1665004528~exp=1665005128~hmac=875b987a41b716d9cab6aed1bf7dc8f497604dc095a80f7cd49a1ed3dad00fc2");
    background-size: cover;
}


/*menu de navegacion*/

.ul-flex-row{  /*nav en flexbox fila*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 30px;
}

li {
    list-style: none;
}

.ul-flex-row > li { 
    margin-right: 80px;
    color: white;
}

#li-login {
    margin-right: 570px;
}

li > ul > li {
    text-align: center;
    padding-top: 5px;
}

a{
    text-decoration: none;
    color: white;
}


/*main*/

.main-div { /*Contenedor principal en grid (divide el main en: lista de ejercicios - ejercicio seleccionado )*/
    display: grid;
    grid-template-columns: 30% 70%;
}

/* Lado de los filtros en main*/

.filter { /* div que ocupa la primera columna (30%) del grid*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 70px;
    grid-column: 1/2;
}

.ul-filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    padding-bottom: 50px; /*evita que los distintas clases de ejercicios se junten*/
}

.ul-filter > li {
    font-size: 20px;
}


/* Lado de los Ejercicios en main */


.workout{ /* div que ocupa la segunda columna (70%) del grid*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 140px;
    grid-column: 2/3;
}

.grid-div-workout { /* div que guarda la imagen y la descripción del ejercicio*/
    display: grid;
    grid-template-columns: 400px auto;
}

.workout-img { /*contenedor de la imagen*/
    width: 400px;
    height: 400px;
    grid-column: 1/2;
}

img { /*la imagen dentro del contenedor*/
    width: 400px;
    height: 400px;
}

.workout-description{ /*contenedor de la descripcion*/
    width: 600px;
    height: 400px;
    grid-column: 2/3;
}

p {
    max-width: 500px; /*tamaño maximo del parrafo*/
    padding-left: 30px; /*alejar un poco de la imagen*/
}

/*footer*/


.footer-ul {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom:50px ;
}

.footer-ul > li {
    margin-right: 80px;
}

