/* valores iniciales de todo*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* ------------------- GRID INDEX ------------------- */

body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    height: 100vh;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.article-content {
    display: grid;
    grid-template-areas: 
    "section-banner"
    "section-exercises";
}

.banner {
    grid-area: section-banner;
}

.section-exercises {
    grid-area: section-exercises;
}

/* ------------------- menu de navegacion ------------------- */

#login-button {
    padding: 10px 22px;
    cursor: pointer;
    background-color:black;
    color: #fff;
    border: 0;
    outline: none;
    margin-left: 50px;
}

nav {
    position: relative;
    width: 100%;
    min-width: 900px;
    padding: 30px 0;
    display: flex;
    justify-content : space-between;
    align-items: center;
    background-color: #24252A;
    z-index: 10;
}

.ul-flex-row {
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    position: absolute;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav li {
    list-style: none;
    cursor: pointer;
    padding: 20px;
    transition: all 0.3s ease 0s;

}

nav li > a:hover {
    background-color: #004d40;
}


/* ------------------- Secciones, slider de imagenes ------------------- */

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color:antiquewhite;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url(../imgs/calistenia1.jpg);
    animation: Banner 35s infinite linear;
}

.banner-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 22, 40, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;
}

.banner-content a {
    text-decoration: none;
    color: #fff;
    padding: 9px 20px;
    border: 1px solid #fff;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.banner-content a:hover {
    background-color: #fff;
    color: #333;
}

@keyframes Banner {
    0%{
        background-image: url(../imgs/calistenia2.jpg);
    }
    20%{
        background-image: url(../imgs/calistenia2.jpg);
    }
    21%{
        background-image: url(../imgs/calistenia1.jpg);
    }
    40%{
        background-image: url(../imgs/calistenia1.jpg);
    }
    41%{
        background-image: url(../imgs/calistenia3.jpg);
    }
    60%{
        background-image: url(../imgs/calistenia3.jpg);
    }
    61%{
        background-image: url(../imgs/calistenia4.jpg);
    }
    80%{
        background-image: url(../imgs/calistenia4.jpg);
    }
    81%{
        background-image: url(../imgs/calistenia5.jpg);
    }
    100%{
        background-image: url(../imgs/calistenia5.jpg);
    }
}

/* Section-exercises - cards */

.section-exercises {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgba(234, 10, 10, 0.7), rgba(222, 129, 8, 0.7));
    display: flex;
    justify-content: center;
    align-items: center;
}

#card-container {
    width: 100%;
    display: flex;
    max-width: 1100px;
}

.card {
    width: 90%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: linear-gradient(to right, rgba(210, 217, 13, 0.7), rgba(222, 129, 8, 0.7));
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: 210px;
}

.content-card {
    padding: 15px;
    text-align: center;
}

.content-card p {
    line-height: 1.5;
    color: #6a6a6a;
}

.content-card h3 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 15px;
}

.content-card a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: all 400ms ease;
}

.content-card a:hover {
    color:tomato;
    background-color: #fff;
}

/* ------------------- Footer ------------------- */

.footer-ul {
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    position: absolute;
}

