/* valores iniciales de todo*/

* {
    padding: 0;
    margin: 0;
}

/* Imagen de fondo (afecta toda la pagina)*/

body{
    background-image:url("https://img.freepik.com/foto-gratis/fondo-azul-degradado-lujo-abstracto-azul-oscuro-liso-banner-estudio-vineta-negra_1258-54047.jpg?w=1380&t=st=1665004528~exp=1665005128~hmac=875b987a41b716d9cab6aed1bf7dc8f497604dc095a80f7cd49a1ed3dad00fc2");
    background-size: cover;
}


/*menu de navegacion*/

nav {

    margin: auto;
    font-size : 20px;

}

#login-button {
    padding: 10px 22px;
    cursor: pointer;
    background-color:black;
    color: #fff;
    border: 0;
    outline: none;
}

.ul-flex-row {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content : flex-end;
}

.ul-flex-row > li > a {
    display: block;
    padding: 15px 20px;
    color:#fff;
    text-decoration: none;
}

.ul-flex-row > li:hover {
    background-color:aquamarine;
}

.ul-dropdown {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}

.ul-flex-row li:hover .ul-dropdown {
    display: block;
}

.ul-dropdown li:hover {
    background-color: black;
}

.ul-dropdown li a {
    display: block;
    color: #fff;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

/* .ul-flex-row{  /*nav en flexbox fila
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 30px;
}

li {
    list-style: none;
}

.ul-flex-row > li { 
    margin-right: 80px;
    color: white;
}

#li-login {
    margin-right: 570px;
}

li > ul > li {
    text-align: center;
    padding-top: 5px;
}

a{
    text-decoration: none;
    color: white;
} */

/*Secciones, slider de imagenes*/

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color:antiquewhite;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url(../imgs/calistenia1.jpg);
    animation: Banner 35s infinite linear;
}

.banner-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 22, 40, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content h1 {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;
}

.banner-content a {
    text-decoration: none;
    color: #fff;
    padding: 9px 20px;
    border: 1px solid #fff;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.banner-content a:hover {
    background-color: #fff;
    color: #333;
}

@keyframes Banner {
    0%{
        background-image: url(../imgs/calistenia1.jpg);
    }
    20%{
        background-image: url(../imgs/calistenia1.jpg);
    }
    21%{
        background-image: url(../imgs/calistenia2.jpg);
    }
    40%{
        background-image: url(../imgs/calistenia2.jpg);
    }
    41%{
        background-image: url(../imgs/calistenia3.jpg);
    }
    60%{
        background-image: url(../imgs/calistenia3.jpg);
    }
    61%{
        background-image: url(../imgs/calistenia4.jpg);
    }
    80%{
        background-image: url(../imgs/calistenia4.jpg);
    }
    81%{
        background-image: url(../imgs/calistenia5.jpg);
    }
    100%{
        background-image: url(../imgs/calistenia5.jpg);
    }
}

/* Sistema de login y registro */

#Close-pop-up {
    position: absolute;
    top: 12px;
    right: 15px;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    border: 0;
    background-color: #fff;
}

#form-box::backdrop {
    background-color: rgba(0, 0, 0, .6);
    backdrop-filter: blur(2px);
}
#form-box {
    width: 370px;
    height: 455px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.button-box {
    width: 240px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #e0e0e0;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 22px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#selector {
    top: 0;
    left: 0;
    position: absolute;
    width: 120px;
    height: 100%;
    background: linear-gradient(to right, rgba(63, 81, 181, 0.7), rgba(0, 188, 212, 0.7) );
    border-radius: 30px;
    transition: 0.8s;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.8s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #004d40;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 0;
    background: linear-gradient(to right, rgba(63, 81, 181, 0.7), rgba(0, 188, 212, 0.7));
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 30px 0;
}

span {
    color: #757575;
    font-size: 12px;
    bottom: 64px;
    position: absolute;
}

#login-form {
    left: 50px;
}

#register-form {
    left: 450px;
}

/*footer*/


.footer-ul {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom:50px ;
}

.footer-ul > li {
    margin-right: 80px;
}

