/* valores iniciales de todo*/

* {
    padding: 0;
    margin: 0;
}

/* Imagen de fondo (afecta toda la pagina)*/

body{
    background-size: cover;
}


/*menu de navegacion*/

#login-button {
    cursor: pointer;
    color: #fff;
    outline: none;
    margin-left: 50px;
    width: 85px;
    height: 85px;
    background-color: transparent;
    border: none;
}

#header-nav {
    position: relative;
    width: 100%;
    min-width: 900px;
    padding: 6px;
    display: flex;
    justify-content : space-between;
    align-items: center;
    background-color: #24252A;
    z-index: 10;
}


.ul-flex-row {
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    position: absolute;
}

a {
    text-decoration: none;
    color: #fff;
}

#header-nav  li {
    list-style: none;
    cursor: pointer;
    padding: 20px;
    transition: all 0.3s ease 0s;
}

#header-nav li > a:hover {
    background-color: #004d40;
}

.ul-dropdown {
    position: absolute;
    display: none;
    transform: translateY(20px);
}

.ul-dropdown > li {
    border-bottom: solid 1px #fff;
    text-align: center;
    background-color: #757575;
    padding: 20px;
    width: 190px;
    transform: translateX(-20px);
}

.ul-dropdown > li:hover {
    background-color: aquamarine;
}

.QS:hover > .ul-dropdown {
    display: block;
}



/*main*/

main {
    height: 100vh;
}


.main-div { /*Contenedor principal en grid (divide el main en: lista de ejercicios - ejercicio seleccionado )*/
    display: grid;
    grid-template-columns: 30% 70%;
}

/* Lado de los filtros en main*/

.filter { /* div que ocupa la primera columna (30%) del grid*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 70px;
    grid-column: 1/2;
}

.ul-filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    padding-bottom: 50px; /*evita que los distintas clases de ejercicios se junten*/
}

.ul-filter  li {
    font-size: 20px;
    list-style: none;
}


/* Lado de los Ejercicios en main */


.workout{ /* div que ocupa la segunda columna (70%) del grid*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 140px;
    grid-column: 2/3;
}

.grid-div-workout { /* div que guarda la imagen y la descripción del ejercicio*/
    display: grid;
    grid-template-columns: 400px auto;
}

.workout-img { /*contenedor de la imagen*/
    width: 400px;
    height: 400px;
    grid-column: 1/2;
}

img { /*la imagen dentro del contenedor*/
    width: 400px;
    height: 400px;
}

.workout-description{ /*contenedor de la descripcion*/
    width: 600px;
    height: 400px;
    grid-column: 2/3;
}

p {
    max-width: 500px; /*tamaño maximo del parrafo*/
    padding-left: 30px; /*alejar un poco de la imagen*/
}

/* Sistema de login y registro */


/*footer*/

#footer-nav {
    display: flex;
    flex-direction: column;
    background-color: #24252A;
    width: 100%;
}


.footer-ul {
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 50px;
}

.footer-ul > li {
    list-style: none;
    cursor: pointer;
    padding: 20px;
    transition: all 0.3s ease 0s;
}


.footer-ul li:hover {
    background-color: #004d40;
}