/* valores iniciales de todo*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* ------------------- menu de navegacion ------------------- */

#login-button {
    padding: 10px 22px;
    cursor: pointer;
    background-color:black;
    color: #fff;
    border: 0;
    outline: none;
    margin-left: 50px;
}

nav {
    position: relative;
    width: 100%;
    min-width: 900px;
    padding: 30px 0;
    display: flex;
    justify-content : space-between;
    align-items: center;
    background-color: #24252A;
    z-index: 10;
}

.ul-flex-row {
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    position: absolute;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav li {
    list-style: none;
    cursor: pointer;
    padding: 20px;
    transition: all 0.3s ease 0s;

}

nav li > a:hover {
    background-color: #004d40;
}

/* ------------------- GRID CONTACTOS ------------------- */

body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    height: 100vh;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/* -------------- main-div ------------- */

.main-div { /*Contenedor principal en grid (divide el main en: lista de ejercicios - ejercicio seleccionado )*/
    display: grid;
    grid-template-columns: 50% 50%;
}

/* Lado del formulario en main*/

.form-div, #form-general-data { /* div y formulario que ocupa la primera columna (50%) del grid*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    grid-column: 1/2;
}

#form-general-data >  label, #form-general-data > input, #form-general-data > select { /*globales de ancho y alto*/
    width: 500px;
    height: 30px;
}

#form-general-data > label {
    padding-top: 10px; 
    font-size: 20px;
}

#submit { /*boton de submit*/
    background-color: aquamarine;
}

textarea { /*area del mensaje*/
    margin-bottom: 10px;
    width: 500px;
    height: 300px;
}

/* Lado de la info  en main*/

.text-info-div{ /* div que ocupa la segunda columna (50%) del grid*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 40px;
    grid-column: 2/3;
}

.grid-text-info { /*div que separa texto de como usar el formulario / datos del usuario respecto del correo ingresado  */
    display: grid;
    grid-template-rows: 250px 250px;
}

.text-div {
    margin-top: 50px;
    grid-row: 1/2;
}

.text-div > ul > li {
    padding-top: 30px;
    font-size: 25px;
    list-style: square;
}

/* ------------------- Footer ------------------- */

.footer-ul {
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    position: absolute;
}
