#grid-container {
    display: grid;
    grid-template-areas:
    "header header header"
    "main main aside"
    "main main aside"
    "footer footer footer";
    grid-template-rows: 100px auto auto 100px;
    grid-template-columns: 30% 30% auto;
    height: 100vh;
    gap: 1em;
}

#header {
    grid-area: header;
    background-color: #24303c;
    border-radius: 4px;
}

#main {
    grid-area: main;
    background-color: #24303c;

    display: grid;
    grid-template-areas:
    "h1M h1M"
    "article article"
    "article article";
    grid-template-rows: 100px auto auto;
    gap: 1em;
    border-radius: 4px;
}

#footer {
    grid-area: footer;
    background-color: #24303c;
    border-radius: 4px;
}

#h1M {
    grid-area: h1M;
    background-color: #24303c;
    border-radius: 4px;
    margin: 0;
    color: coral;
    padding: 20px;
}

#article {
    grid-area: article;
    background-color: #24303c;
    border-radius: 4px;
}

#aside {
    grid-area: aside;
    background-color: #24303c;
    border-radius: 4px;
}

/* ---------------------- Contenido del header y listas ---------------------- */
#menu {
    margin: 20px;
}

#navegation ul {
    list-style: none;
}

#menu > li {
    position: relative;
    display: inline-block;
    padding: 10px;
}

#menu > li > a {
    background-color: #fff;
    display: block;
    padding: 15px 30px;
    color: #353535;
    text-decoration: none;
    font-family: 'Open sans';
    border-radius: 4px;
}

#menu li a:hover {
    color: coral;
    transition: all .3s
}

#submenu {
    position: absolute;
    background: #333333;
    width: 66.7%;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s;
}

#submenu li a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    font-family: 'Open sans';
}

#menu li:hover #submenu {
    visibility: visible;
    opacity: 1;
}

/* ---------------------- Secciones de los articulos ---------------------- */

#PyS, #H, #Eq, #Contact {
    display: none;
}

section h2 {
    padding: 20px;
    color: coral;
}

h3 {
    padding: 20px;
    color: coral;
}

/* ---------------------- Seccion/Inicio/Home ---------------------- */

p {
    margin: 0;
    padding: 20px;
    font-family: 'Open sans';
    font-size: 20px;
    color: #fff;
}
/* ---------------------- Imágenes ---------------------- */

#imagen1 {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    position: absolute;
    display: block;
    padding: 10px;
}

/* ---------------------- Tabla ---------------------- */

.tabla {
    border: solid 2px lightslategray;
    margin: 20px;
}

thead {
    background: lightslategray;
}

th {
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
}

td {
    padding: 15px;
    border-bottom: solid 1px;
    background: lightslategray;
}

/* ---------------------- Formulario ---------------------- */

.formulario {
    background: lightslategray;
    padding: 50px;
    margin: 20px;
    border-radius: 4px;
    color: white;
}

#form1, #form2, #form3, #submit {
    padding: 10px;
    border: solid 2px #1f53c5;
}